<aside class="aside">
    <div class="section">
        <div class="section__title">
            <i class="pi pi-book" style="font-size: 1rem"></i>
            <span class="text">Рубрики</span>
        </div>
        <div class="section__values">
            <div *ngFor="let category of categories" class="field-checkbox">
                <p-checkbox name="group" [value]="category" [(ngModel)]="selectedCategories"
                    [inputId]="category.key"></p-checkbox>
                <label [for]="category.key">{{ category.name }}</label>
            </div>
        </div>
    </div>

    <div class="section">
        <div class="section__title">
            <i class="pi pi-tags" style="font-size: 1rem"></i>
            <span class="text">Види публікації</span>
        </div>
        <div class="section__values">
            <div *ngFor="let type of newsTypes" class="field-checkbox">
                <p-checkbox name="group" [value]="type" [(ngModel)]="selectedNewsTypes"
                    [inputId]="type.key"></p-checkbox>
                <label [for]="type.key">{{ type.name }}</label>
            </div>
        </div>
    </div>

    <div class="section">
        <div class="section__title">
            <i class="pi pi-volume-up" style="font-size: 1rem"></i>
            <span class="text">Мова</span>
        </div>
        <div class="section__values">
            <div *ngFor="let lang of langsList" class="field-checkbox">
                <p-checkbox name="group" [value]="lang" [(ngModel)]="selectedLangs" [inputId]="lang.key"></p-checkbox>
                <label [for]="lang.key">{{ lang.name }}</label>
            </div>
        </div>
    </div>

    <div class="section">
        <div class="section__title section__title--range">
            <div class="section__title">
                <i class="pi pi-calendar" style="font-size: 1rem"></i>
                <span class="text">Дата публікацій</span>
            </div>
            <div class="section__title--side-selector">
                <p-inputSwitch [(ngModel)]="isRangeActive"></p-inputSwitch>
            </div>
        </div>
        <div class="section__values">
            <p-calendar *ngIf="!isRangeActive" [(ngModel)]="date" [dateFormat]="'dd.mm.yy'" [maxDate]="maxDate" [showIcon]="true" [touchUI]="isMobileDevice"
                [placeholder]="'Оберіть дату'"></p-calendar>
            <p-calendar *ngIf="isRangeActive" [(ngModel)]="dateRange" [dateFormat]="'dd.mm.yy'" [maxDate]="maxDate" [selectionMode]="'range'" [showIcon]="true"
                [touchUI]="isMobileDevice" [placeholder]="'Оберіть період'"></p-calendar>
        </div>
    </div>

    <div (click)="findNews()" class="aside__find-btn">
        <i class="pi pi-search" style="color: #fff"></i>
        <span>Шукати</span>
    </div>
</aside>