.footer {
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    width: 96%;
    padding-top: 1rem;

    @media(max-width: 1280px) {
        width: 100%;
        flex-direction: column-reverse;
        align-items: center;
    }

    &__links {
        display: flex;
        align-items: flex-start;
        gap: 2rem;
        color: var(--primary);

        @media(max-width: 768px) {
            // flex-direction: column;
            font-size: 1.2rem;
        }
        a {
            color: var(--primary);
            &:visited {
                color: var(--primary);
            }
        }
    }

    & .links-list {
        display: flex;
        flex-direction: column;
        gap: 0.5rem;
        font-weight: 500;
        font-size: 1.1rem;

        &__header {
            font-weight: 700;
        }
    }

    .social-links {
        display: flex;
        align-items: center;
        gap: 1.35rem;

        @media(max-width: 1280px) {
            width: 100%;
            justify-content: space-around;
            margin-bottom: 1rem;
        }

        &__item {
            display: block;
            width: 20px;
            height: 25px;
            transition: transform .25s;
            cursor: pointer;

            &:hover {
                transform: scale(1.1);
            }
        }
    }
}

.site-info {
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    margin: 3rem 0;

    .left-side {
        display: flex;
        flex-direction: column;

        @media(max-width: 1280px) {
            width: 100%;
            justify-content: center;
            align-items: center;
        }
    
        &__logo-wrap {
            display: flex;
            align-items: center;
            gap: 1.25rem;
            margin-bottom: 1rem;

            @media(max-width: 1280px) {
                margin-bottom: .3rem;
            }
    
            h3 {
                display: block;
                font-size: 2.2rem;
                font-weight: 900;
                color: var(--primary);
                cursor: pointer;

                @media(max-width: 1280px) {
                    font-size: 1rem;
                }
            }
            
            img {
                height: auto;
                width: 50px;
                border-radius: 50%;
            }
        }

        &__slogan {
            font-size: 1rem;
            font-weight: 300;
        }
    }
}
