.header {
    display: flex;
    position: sticky;
    top: 0;
    align-items: center;
    justify-content: space-between;
    height: var(--header-height);
    width: 100%;
    background-color: var(--gray0);
    padding: .6rem 1rem;
    margin-top: .5rem;
    border-radius: var(--main-br);
    z-index: 1000;

    a {
        text-decoration: none;
        color: var(--primary);

        &:visited {
            color: var(--primary);
        }
    }

    &__logo {
        display: flex;
        align-items: center;
        justify-content: center;
        gap: 1rem;

        img {
            display: block;
            width: 60px;
            height: 60px;
            border-radius: 50%;
            cursor: pointer;

            @media(max-width: 1280px) {
                width: 50px;
                height: 50px;
            }
        }
    }

    &__site-name {
        display: block;
        font-size: 2.2rem;
        font-weight: 900;
        cursor: pointer;

        @media (max-width: 1366px) {
            font-size: 2rem;
        }

        @media(max-width: 1280px) {
            font-size: 1.5rem;
        }

        @media(max-width: 768px) {
            font-size: 1.25rem;
        }
    }

    &__links {
        display: flex;
        align-items: center;
        gap: 1.5rem;

        &-list {
            display: flex;
            align-items: center;
            gap: .8rem;

            @media (max-width: 1366px) {
                font-size: .9rem;
                font-weight: 700;
                gap: .5rem;
            }

            @media (max-width: 1280px) {
                display: none;
            }

            .li-dd {
                padding: 0;
            }

            li {
                box-sizing: content-box;
                padding: 10px 0;
                border-bottom: 2px solid var(--primary);
                border-color: transparent;
                transition: border-color 0.3s;

                a {
                    padding: 10px 0;
                }

                &:hover {
                    border-color: var(--primary);
                }
            }
        }
    }

    &__search {
        display: flex;
        align-items: center;
        gap: .6rem;
        height: 50px;

        @media (max-width: 1366px) {
            height: 40px;
        }

        @media(max-width: 1280px) {
            display: none;
        }

        .p-inputtext {
            // padding: 0.75rem 0.75rem;
            
            @media (max-width: 1366px) {
                padding-top: .5rem;
                padding-bottom:.5rem;
            }
        }
    }

    &__button {
        display: flex;
        align-items: center;
        background-color: var(--primary);
        height: 100%;
        padding: 0 30px;
        border-radius: 6px;
        cursor: pointer;
        transition: background-color .2s;

        &:hover {
            background-color: var(--hover-color);
        }

        @media (max-width: 1366px) {
            padding: 0 10px;
        }
    }
    
    &__time-data {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;

        @media(max-width: 768px) {
            font-size: 0.9rem;
        }
    }

    &__mobile-menu {
        display: none;

        @media(max-width: 1280px) {
            display: block;
        }
    }

    .p-inputtext {
        border-radius: 6px;
    }
}

::ng-deep .header__links .p-dropdown {

    background-color: transparent !important;
    border: none !important;
    border-radius: none !important;

    .p-icon {
        width: 1rem;
        height: 1rem;

        @media (max-width: 1366px) {
            width: .8rem;
            height: .8rem;
        }
    }

    .p-inputtext {
        color:  var(--primary) !important;
        padding-left: 0;
        padding-right: 0.5rem;

        @media (max-width: 1366px) {
            font-size: .9rem;
            font-weight: 700;
        }
    }

    .p-dropdown-label.p-placeholder {
        color: var(--primary) !important;
        background: transparent !important;
    }

    &:not(.p-disabled).p-focus {
        box-shadow: none;
    }
    
    .p-overlay {
        top: 65px !important;

        .p-dropdown-items-wrapper {
            max-height: unset !important;
        }
    }

    .p-dropdown-trigger {
        width: 2rem;

        @media(max-width: 1366px) {
            width: 1rem;
        }
    }
}

::ng-deep .header {
    .p-button {
        background: var(--primary);
        border: none;

        &:hover {
            background: var(--hover-color);
        }
    }
}