<header class="header">
    <a [routerLink]="'/'" class="header__logo">
        <img src="assets/images/logo.png" alt="Logo">
        <h3 class="header__site-name">infowavedaily</h3>
    </a>

    <div class="header__links">
        <ul class="header__links-list">
            <li>
                <a [routerLink]="'/'">Головна</a>
            </li>
            <li>
                <a [routerLink]="'/news'">Новини</a>
            </li>
            <li>
                <a [routerLink]="'/'">Рубрики</a>
            </li>
            <li>
                <a [routerLink]="'/'">Про нас</a>
            </li>
            <li>
                <a [routerLink]="'/'">Контакти</a>
            </li>
        </ul>

        <div class="header__search">
            <div class="card flex flex-wrap justify-content-center gap-3">
                <span class="p-input-icon-left">
                    <i class="pi pi-search"></i>
                    <!-- <i class="pi pi-spin pi-spinner"></i> -->
                    <input type="text" pInputText (ngModelChange)="searchArticlesWithSearchWord($event)" [(ngModel)]="searchText" placeholder="Пошук..." />
                </span>
            </div>
            <div class="header__button">
                <i class="pi pi-search" style="color: #fff"></i>
            </div>
        </div>
    </div>
    <div class="header__time-data">
        <span>{{ nowDate | date: 'h:mm' }}</span>
        <span><b>{{ nowDate | date: 'dd.M.yyy' }}</b></span>
    </div>
</header>