<div class="contacts">
  <h2>Контакти</h2>
  <div class="divider"></div>

  <div class="content">
    <h3>Автор сайту</h3>
    <div class="author">
      <img src="assets/images/contacts/logo-udhtu.png" alt="udhtu logo" />
      <p>
        Веб ресурс розроблено фахівецем ступеня магістра Українського державного
        хіміко-технологічного університету (УДХТУ), факультет "Компʼютерних наук
        та інженерії", кафедра Інформаційних систем -
        <b>Гнатко Олександром Вікторовичем.</b>
      </p>
    </div>
  </div>
  <div class="divider"></div>
  <div class="content-messaging">
    <h3>Контакти</h3>
    <p-accordion>
      <p-accordionTab header="Номер телефону">
        <p>
          Для звязку доступний контактний номер -
          <a href="tel:+380955236190" target="_blank">+38 095 523 61 90</a>
        </p>
      </p-accordionTab>
      <p-accordionTab header="Електронна пошта">
        <p>
          Офіційна та основна електронна пошта -
          <a href="mailto:system.x1060@gmail.com" target="_blank">system.x1060@gmail.com</a>
        </p>
      </p-accordionTab>
      <p-accordionTab header="Соціальні мережі">
        <p>
          На даний час контакти з автором доступні через сервіс обміну
          повідомленням Telegram - <a href="http://t.me/Otchayannyy" target="_blank">Гнатко Олександр</a>
        </p>
      </p-accordionTab>
    </p-accordion>
  </div>
</div>
