.app-content {
    display: block;
    width: 100%;
    max-width: 1440px;
    padding: 0 20px;
    margin: 0 auto;
    margin-top: .5rem;
    height: 100%;
    font-family: "Roboto", sans-serif;
    font-size: 1rem;
    // overflow: hidden;
}

app-footer {
    display: block;
    width: 100%;
}