<div class="home-page">
    <section class="home-page__section welcome">
        <h1>Дізнайтеся, що <br> нового.</h1>
        <span class="welcome__subtitle">Завжди бути в курсі подій</span>
        <div class="welcome__trust">
            <span class="welcome__trust-title">Довіряють найкращі</span>
            <div class="welcome__trust-list">
                <img src="assets/images/home/trust_logos.webp" style="width:1082px;height:auto">
            </div>
        </div>
    </section>

    <section class="home-page__section why-we">
        <h3>Чому обирають нас?</h3>
        <div class="why-me__list list">
            <div class="list__item list__item--1">
                <img src="assets/images/home/why-we-image-1.webp" alt="">
                <span class="list__item-title">Чесність</span>
                <span class="list__item-subtitle">Ми публікуємо тільки реальні новини.</span>
            </div>
            <div class="list__item list__item--2">
                <img src="assets/images/home/why-we-image-2.webp" alt="">
                <span class="list__item-title">Швидкість</span>
                <span class="list__item-subtitle">Ми завжди публікуємо новини вчасно</span>
            </div>
            <div class="list__item list__item--3">
                <img src="assets/images/home/why-we-image-3.webp" alt="">
                <span class="list__item-title">Відкритість</span>
                <span class="list__item-subtitle">Ми публікуємо тільки достовірну та перевірену інформацію.</span>
            </div>
        </div>
    </section>

    <section class="home-page__section about-us">
        <div class="about-us__content-wrap">
            <div class="about-us__content">
                <div class="about-us__seo seo">
                    <img src="assets/images/home/about-us-seo.webp" alt="">
                    <div class="seo__info-wrapp">
                        <h3 class="seo__title">"infowavedaily ніколи не викликав занепокоєння з першого дня. Він подбає про все за вас, тож ви можете зосередитися на важливому"</h3>
                        <div class="seo__name">
                            <span>Валерія Томпсон</span>
                            <span class="seo__position">CEO</span>
                        </div>
                        <a href="/about-us" class="seo__details-button">
                            Детальніше
                        </a>
                    </div>
                </div>
            </div>
            
        </div>
    </section>

    <section class="home-page__section in-time">
        <div class="in-time__content-card card">
            <div class="card__info">
                <div class="card__title-wrap">
                    <img src="assets/images/home/in-time-logo.webp" class="card__logo">
                    <h3 class="card__title">Дізнавайся про все швидше інших</h3>
                </div>
                <span class="card__text">
                    З нами ви можете бути впевнені щодо актуальності та достовірності новин.
                </span>
                <a href="/home" class="card__start-button">
                    Почати
                </a>
            </div>
            <img src="assets/images/home/in-time-main-image.webp" class="card__main-image">
        </div>
    </section>

</div>