<div class="about-us">
  <h2>Про проект</h2>
  <div class="divider"></div>

  <div class="content">
    <p>
      Infowave Daily — загальноукраїнський сайт новин, який працює під брендом
      Infowavedaily.
    </p>
    <p>
      Ресурс було розроблено та запущено в листопаді 2023 року, і на сьогодні ми
      — один з найбільших агрегаторів новин в Україні, який працює в
      цілодобовому режимі.
    </p>
    <p>
      Ми поставили собі за мету стати найбільшим новинним інтернет-ресурсом
      України, де читач може знайти для себе будь-яку інформацію швидко і в
      доступному форматі та відфільтрувати новини за багатьма критеріями. Не
      менш значною метою є забезпечення вільного доступу до інформації, як
      невідємного права кожної людини.
    </p>
    <p>
      Задля здійснення поставленої мети редакція публікує новини українською,
      англійською та російською мовами. Це оперативна інформація про політику,
      соціальну сферу, світові події, шоу-бізнес, спорт, економіку тощо. Десятки
      журналістів, дизайнери оперативної графіки, перекладачі працюють над
      авторськими текстами, експертними оцінками, сюжетами, інфографіками, щоб
      читач Infowave Daily міг бути швидко і в повному обсязі поінформованим.
    </p>
    <p>
      <b>Важливо:</b> абсолютно всі опубліковані новини, прес релізи, блоги,
      тощо, містять посилання на джерело з зазначенням Веб-ресурсу - джерела
      новини, а також, якщо джерело містить інформацію про авторство твору
      інформаційного характеру, то таке авторство також зазначається на сторінці
      детального огляду новини.
    </p>
    <div class="divider"></div>
    <span class="categories-title">Сторінки новин за рубриками</span>
    <div class="news-categories">
      <a [routerLink]="['/news']">Всі новини</a>
      <a [routerLink]="['/news']" [queryParams]="{category: 'news/Science'}">Наука</a>
      <a [routerLink]="['/news']" [queryParams]="{category: 'news/Health'}">Здоров'я</a>
      <a [routerLink]="['/news']" [queryParams]="{category: 'news/Arts_and_Entertainmen'}">Мистецтво</a>
      <a [routerLink]="['/news']" [queryParams]="{category: 'news/Politics'}">Політика</a>
      <a [routerLink]="['/news']" [queryParams]="{category: 'news/Business'}">Бізнес</a>
      <a [routerLink]="['/news']" [queryParams]="{category: 'news/Sports'}">Спорт</a>
    </div>

    <p class="rules">
      <b
        >В разі виникнення спорів або питань щодо авторського права
        опублікованої інформації, зверніться будь-ласка за контактними данними
        вказаними на сторінці <a class="contacts-link" [routerLink]="'/contacts'">Контакти</a></b
      >
    </p>
  </div>
</div>
